p {
    text-align: justify;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 12px 20px;
    text-align: center;
  }
 .center{
    text-align: center;
 }